spring:
  application:
    name: places-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/places}
    username: ${DB_USERNAME:places}
    password: ${DB_PASSWORD:places}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  flyway:
    enabled: true

server:
  port: ${SERVER_PORT:8082}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
